body {
    margin: 108px;
  
}
#contenu {
    display: flex;
    flex-direction: row-reverse;
    
}
header {
    display: flex;
    background-color: #1d86b4;
    height: 169px;
    position: relative;
    color: white;
}

main {
    background-color: rgb(237, 237, 246);
    padding-left: 18px;
    width: fit-content;
    position: relative;
}
#aside {
    background-color: #073c53;
    width: 400px;
    color: white;
    padding: 16px;
}
#Infoprsonnel {
    gap: 10px;
}

@media (max-width: 600px) {
    .head {
        
        flex-direction: column;
    }
    #contenu {
       flex-direction: column;
       
    }
    #main {
        width: 100%;
    }
    #aside {
        width: 100%;
    }
}

.clear {
    clear: both;
}
#img {
    width: 177px;
    height: 177px;
    position: absolute;
    right: 48px;
    border-radius: 100px;
    border: 7px solid white;
    top: -11px;
}
b {
    position: absolute;
    right: 0px;
}